.fixed__list {
    position: fixed;
    top: 15%;
    left: 8%;
    padding: 1.5rem;
    border-radius: 1rem 1rem 1rem 0;
    background-color: var(--color-list-orange);
    box-shadow: var(--box-shadow);
}

.fixed__list a {
    color: var(--color-white);
}

.fixed__list li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.fixed__list a:hover {
    color: #333333;
}