.article__sharing-board-write {
    margin: 0 29%;
    padding: 10rem 0;
}

.article__sharing-board-write div {
    box-sizing: border-box;
    margin-bottom: 1rem;
    width: 100%;
}

.sharing-board-write__category {
    background: url("https://t1.daumcdn.net/cfile/tistory/99761B495C84AA8716")
        no-repeat 100% 50%;
    background-size: 1.3rem;
    border: 1px solid var(--color-border);
    border-radius: 0.3rem;
    color: #333333;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 0.9rem;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0.4rem 0.3rem;
    width: 150px;
}

.sharing-board-write__info {
    align-items: center;
    display: flex;
    justify-content: center;
}

.sharing-board-write__info div {
    width: 50%;
}

.article__sharing-board-write label {
    font-weight: 500;
    margin-right: 1rem;
}

.article__sharing-board-write input {
    border: none;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    margin-top: 1rem;
    outline: none;
    padding: 0.5rem 0;
    width: 80%;
}

.sharing-board-write__location--input,
.sharing-board-write__price--input {
    border: none;
    pointer-events: none;
}

.sharing-board-write__image {
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
}

.sharing-board-write__image--title {
    font-size: 1rem;
    font-weight: 500;
}

.sharing-board-write__image--container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 !important;
}

.image--input-container {
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    height: 6rem !important;
    margin: 0 !important;
    width: 7rem !important;
}

.image--input-container img {
    border-radius: 0.5rem;
    height: 100% !important;
    margin: 0 !important;
    width: 100% !important;
}

.image--input-button {
    background: url("https://img.icons8.com/ios/50/000000/compact-camera.png")
        no-repeat center;
    height: 100%;
    cursor: pointer;
    position: relative;
    width: 100%;
}

.image--input-container .del-btn {
    background-image: url("https://img.icons8.com/fluent-systems-regular/24/000000/xbox-x.png");
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0;
    right: -12%;
    transform: translateY(-50%);
}

.image--input {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.sharing-board-write__title--textarea {
    border: none;
    border-bottom: 1px solid var(--color-border);
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.9rem;
    height: 1.9rem;
    line-height: 1.9rem;
    margin-top: 1.5rem;
    outline: none;
    padding-bottom: 1rem;
    resize: none;
    width: 100%;
}

.sharing-board-write__price input::placeholder,
.sharing-board-write__title textarea::placeholder,
.sharing-board-write__content textarea::placeholder {
    color: var(--color-input-color);
    font-weight: 400;
}

.sharing-board-write__content--textarea {
    border: none;
    border-bottom: 1px solid var(--color-border);
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    height: 32rem;
    outline: none;
    resize: none;
    width: 100%;
}

.sharing-board-write__btn-container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.sharing-board-write__list {
    border: 1px solid var(--color-personal-orange);
    color: var(--color-personal-orange);
    cursor: pointer;
    font-size: 1rem;
    line-height: 44px;
    margin: 0 !important;
    outline: none;
    text-align: center;
}

.sharing-board-write__submit {
    background-color: var(--color-personal-orange);
    border: none;
    color: var(--color-white);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0 0 1rem !important;
    outline: none;
}

.sharing-board-write__list,
.sharing-board-write__submit {
    border-radius: 0.25rem;
    box-sizing: border-box;
    font-weight: 400 !important;
    height: 44px !important;
    width: 5rem !important;
}
